<!--<!DOCTYPE html>-->
<html lang="en">

<head>
    <title>Login page </title>
</head>

<style>
    body {
        background: linear-gradient(-45deg, #f32c1af5 24%, rgba(0, 0, 0, 0.938) 90%);
        font-family: 'Patua One', cursive;
        color: rgb(243, 243, 246);
        text-shadow: 2px 2px rgba(241, 99, 4, 0.74)
    }
</style>

<body>

    <div>

        {% block content %}
        <h1>Create an account</h1>
        <form action="/billboard/register/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Create the account">send</button>
        </form>
        {% endblock %}


    </div>

</body>

</html>